@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
  url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  @include text-parameters($text-size, 400, 24px, $text-color);

  /*font-size: $text-size;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $text-color;
  font-style: normal;*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
