.advantages {
  margin: 0 auto;
  margin-top: 33px;
  padding-left: 30px;
  padding-right: 30px;
  width: 260px;
}

.advantages__title {
  @include text-parameters($title-size, 700, 30px, $title-color);
}

.advantages__list {
  @include list-decoration;
}

.advantages__item {
  @include text-parameters(17px, 700, 20px, $title-color);
}
