.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 260px;
  min-height: 112px;
}

.footer__logo {
  display: none;
}

.footer__copyright {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  border-top: solid 1px #e5e5e5;
}

.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  span {
    padding-right: 29px;

    @include text-parameters(19px, 700, 19px, $title-color);
    @include link-decoration(1);
  }

  path {
    fill: $tiffany;
  }

  &:hover path,
  &:focus path {
    fill: #46c1ae;
  }

  &:active path {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
    width: $tablet-width - 100px;
    min-height: 143px;
  }

  .footer__logo {
    display: block;

    &:hover path,
    &:focus path {
      fill: #46c1ae;
    }

    &:active path {
      opacity: 0.3;
    }
  }

  .footer__social {
    padding-left: 90px;
  }

  .footer__copyright {
    padding-top: 0;
    width: auto;
    text-align: right;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: $desktop-width - 100px;
  }
}
