.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header__logo {
  position: relative;
  padding-top: 22px;
  padding-bottom: 14px;
  text-align: center;

  @include link-decoration();

  border-bottom: solid 1px #ececec;
}

.header__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    flex-direction: row;
  }

  .header__logo {
    padding-left: 50px;
    padding-top: 25px;
    text-align: left;
    flex-grow: 1;
  }

  .header__toggle {
    display: none;
  }

  .header__delivery {
    display: block;
    order: 3;
    flex-grow: 1;
    text-align: right;

    padding-top: 17px;
    padding-right: 50px;
    padding-bottom: 0;

    @include text-parameters($text-size, 400, 24px, $text-color);
  }
}


@media (min-width: $desktop-width) {
  .header__logo {
    order: 2;
    flex-grow: 1;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}
