.main__background {
  /*width: 100%;*/
}

.main__background--index {
  background-color: $bg-lightgrey;
}

.main__background--inner {
  background-color: #f1f1f1;
}

.main__title {
  @include text-parameters(27px, 700, 30px, $title-color);
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main__background--index {
    margin-top: -41px;
    padding-top: 41px;
    background-color: $bg-lightgrey;
  }
}
