.main-nav__list {
  @include list-decoration;
}

.main-nav__link {
  display: block;

  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;

  @include text-parameters(17px, 700, 24px, $title-color);
  @include link-decoration();

  border-bottom: solid 1px #ececec;
}

@media (min-width: $tablet-width) {
  .main-nav {
    order: 2;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 50px;
  }

  .main-nav__link {
    padding-top: 17px;
    padding-right: 37px;
    padding-bottom: 0;
    padding-left: 0;
    border-bottom: none;

    @include text-parameters($text-size, 700, 24px, $title-color);
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    order: 1;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 420px;

    border-bottom: solid 1px #ececec;
  }

  .main-nav__item {
    &:first-of-type {
      border-right: solid 1px #ececec;
    }

    &:nth-of-type(2) {
      padding-left: 35px;
    }
  }

  .main-nav__link {
    padding-top: 30px;
    padding-bottom: 34px;

    @include text-parameters(17px, 700, 24px, $title-color);
  }
}
