.page {
  min-width: 320px;
  margin: 0;
  padding: 0;

  @include text-parameters($text-size, 400, 24px, $text-color);
}

.page__header {
  margin: 0 auto;
  width: 320px;
}

.page__footer {
  background-color: #f1f1f1;
}


@media (min-width: $tablet-width) {
  .page__header {
    margin: 0 auto;
    width: $tablet-width;
  }
}


@media (min-width: $desktop-width) {
  .page__header {
    margin: 0 auto;
    width: $desktop-width;
  }
}
