.products-nav {
  display: none;
}

.products-nav__list {
  @include list-decoration;
  padding-left: 50px;
}

.products-nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 37px;

  @include text-parameters($text-size, 700, 24px, $title-color);
  @include link-decoration();
}

@media (min-width: $desktop-width) {
  .products-nav {
    display: block;
    order: 3;
  }

  .products-nav__list {
    display: flex;
    flex-direction: row;
  }

  .products-nav__item:nth-of-type(2) {
    padding-left: 30px;
  }
}
