.products__title {
  @include text-parameters($title-size, 700, 30px, $title-color);
  /*font-size: $title-size;
  font-weight: 700;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $title-color;
  font-style: normal;*/
}

.products__list {
  @include list-decoration;
}

.products__link {
  display: block;

  @include text-parameters(19px, 700, 24px, #ffffff);
  /*font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #ffffff;
  font-style: normal;*/
}

.products__link--interior {
  background-color: $tiffany;
}

.products__link--toys {
  background-color: $darktiffany;
}
